.logo{
    width: 109px;
    height: 28px;
    display: block;

    margin: 20px auto 32px 12px;

    background: url('../../../image/Sidebar/logo.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}